peer:
    #id denotes the name of peer
    id: peer0 
    #event-address denotes the ipaddress-of-peer:eventPort. 
    #Each peer's eventhub listen on port 7053 which is the default 
    #port given in fabric/sampleconfig/core.yaml     
    event-address: 0.0.0.0:7053
msp:
    #path contains the absolute path to the msp configuration files such
    #as key, cacerts, rootcerts. For dev mode, use peer0-msp-for-dev
    path: /full/path/to/crypto-config/peerOrganizations/org0.example.com/users/Admin@org0.example.com/msp
    #localMspId denotes the MSP identity. For dev mode, use DEFAULT instead
    #of Org0MSP   
    localMspId: Org0MSP 
tls:
    #disable tls for dev mode
    enabled: false 
    cert:
        file: /full/path/to/crypto-config/peerOrganizations/org0.example.com/users/Admin@org0.example.com/tls/server.crt
    key:
        file: /full/path/to/crypto-config/peerOrganizations/org0.example.com/users/Admin@org0.example.com/tls/server.key
    rootcert:        
        file: /full/path/to/crypto-config/peerOrganizations/org0.example.com/users/Admin@org0.example.com/tls/ca.crt
    serverhostoverride: peer0       
log:
    event: true
    block: true
    blockperf: true
